* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container {
    width: 400px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 16px;
    width: 16px;
    margin: 2px;
    background-color: #1d1d1d;
    box-shadow: rgb(0, 0, 0) 0px 0px 2px;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0ms;
}