* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

div { 
    position: absolute;
    bottom: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}

h1 {
    color: #fff;
    font-size: 40px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: salmon;
    border: none;
    text-align: center;
}